html {
  height: 100%;
  width: 100%;
}

.header-area .main-menu .nav-bar .nav-bar-brand {
  padding: 0 2rem 0 5rem; 
}

.header-area .main-menu .nav-bar {
  padding: 1rem 20rem;
}

.header-area .main-menu .nav-item .nav-link {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 1.0rem;
}

.header-area .main-menu .navbar-nav .active a {
  color: darkgray;
}

.header-area .main-menu .navbar-nav a:hover {
  background-color: darkgray;
}

.my-pic {
  width: 300px;
  height: auto;
  border-radius: 10%;
  padding: 20px;
}

.about-image {
  width:550px;
  height:auto;
  display: flex;
  justify-content: right;
}

.about-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.site-main .site-banner .site-title h3 {
  padding-top: 10%;
  padding-bottom: 0%;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
}

.skills-title {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 49px;
  text-transform: uppercase;
}

.hard-skills {
  text-align: center;
  font: normal bold 25px Arial;
}

table
    {
        table-layout: fixed;
        word-break: break-all;
        border-collapse: collapse;
        width:80%;
    }
td
    {
        height:50px;
        border: 1px solid;
    }

@media only screen and (min-width: 1600px) {
.title-text {
  margin-left: 100px;
}

.btn {
  margin-left: 200px;
}

.about-image {
  margin-left: 250px;
}
}

.site-main .about-title  {
  padding: 2rem 1rem;
}
.site-main .about .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px Arial;
  letter-spacing: 15px;
}

.table {
  border: 10px;
  border-color: gray;
}